# Dependencias
node_modules/

# Build outputs
dist/
release/
out/

# Base de datos local
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
